<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<%= stylesheet_link_tag 'style.css' %>
	#<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wraper">
		<div class="container">
		<div class="left-content p-30">
			<div class="logo">
				<a href="/">
					<span>Hans</span>
					<span>Fluhmann</span>
				</a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/resumen">Resumen</a></li>
					<li><a href="/estudios">Estudios</a></li>
					<li><a href="/experiencias">Experiencia Laboral</a></li>
					<li><a href="/competencias">Competencias</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/hans-fluhmann/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://github.com/Hfluhmann"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>hfluhmann@gmail.com</li>
						<li>+56 9 51581740</li>
					</ul>
				</div>
				
<!-- <div class="copy-rights">Copyright &copy;2019 All rights reserved</div> -->
			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="Home">
			<div class="sec-title">
	<div class="pg-sub-title">Competencias Específicas</div>
	<div class="pg-title">Mi Perfil</div>
			</div>
				<div class="d-flex-align-center">
				<div class="user-img "></div>
					<%= image_tag("user-img.jpg", :alt => "Hans Fluhmann") %>
				<div class="user-profile flex-1">
					<div class="pro-details">
						<div class="name">Hans Fluhmann Cerda</div>

					</div>
						<h1>Competencias Específicas</h1>

						<h2>Idiomas</h2>
						<div>Español Nativo</div>
						<div>Ingles Avanzado</div>

						<h2>Enero 2021 - Marzo 2021, Práctica Profesional, Poliglota SpA</h2>
						<div>Desarrollo Frontend</div>
						<div>Desarrollo Backend</div>

						<h2>Programación</h2>
						
						<ul class="side-by-side">
							<li> Python <li>
							<li> C/C++ <li>
							<li> Ruby <li>
						</ul>
						<ul class="side-by-side">
							<li> LATEX <li>
							<li> Jupyter <li>
							<li> NodeJS <li>
						</ul>
						<ul class="side-by-side">
							<li> React <li>
							<li> Rails <li>
						</ul>

						<h2>Intereses Personales</h2>
						<div>Inteligencia Artificial</div>
						<div>Teoría de Autómatas y Lenguajes Formales</div>

						<h2>Intereses Personales</h2>
						<div>Deporte</div>
						<div>Video Juegos</div>
						<div>Juegos de Mesa</div>

					</div>

				</div>
			</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>