<!DOCTYPE html>
<html>
<head>
	<title>My Resume</title>
	<%= stylesheet_link_tag 'style.css' %>
	#<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wraper">
		<div class="container">
		<div class="left-content p-30">
			<div class="logo">
				<a href="index.html">
					<span>Hans</span>
					<span>Fluhmann</span>
				</a>
			</div>
			<div class="nav">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/resumen">Resumen</a></li>
					<li><a href="/estudios">Estudios</a></li>
					<li><a href="/experiencias">Experiencia Laboral</a></li>
					<li><a href="/competencias">Competencias</a></li>
				</ul>
			</div>
			<div class="left-footer">
				<div class="social-icons">
					<ul>
						<li><a href="https://www.linkedin.com/in/hans-fluhmann/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://github.com/Hfluhmann"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="foot-contact">
					<ul>
						<li>hfluhmann@gmail.com</li>
						<li>+56 9 51581740</li>
					</ul>
				</div>
				
<!-- <div class="copy-rights">Copyright &copy;2019 All rights reserved</div> -->
			</div>

		</div>
		<div class="main-content">
			<div class="section1 p-30" id="About">
			<div class="sec-title">
	<div class="pg-sub-title">Resumen</div>
	<div class="pg-title">Mi Perfil</div>
			</div>
				<div class="d-flex-align-center">
				<div class="user-img "></div>
					<%= image_tag("user-img.jpg", :alt => "Hans Fluhmann") %>
				<div class="user-profile flex-1">
					<div class="pro-details">
						<div class="name">Hans Fluhmann Cerda</div>
						<div class="role"></div>

					</div>
					<h2>Resumen</h2>
					</br>
					<div class="text">Estudiante de Ingeniería Civil Informática en la Universidad Técnica Federico Santa María, con especial interés en las áreas de inteligencia artificial, teoría de autómatas y lenguajes formales. 
						Responsable y proactivo, con capacidad de liderazgo, trabajo en equipo, resolución de problemas y trabajo bajo presión.</div>
					</br>
			<div class="social-icons-head">
					<ul>
						<li><a href="https://www.linkedin.com/in/hans-fluhmann/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
						<li><a href="https://github.com/Hfluhmann"><i class="fa fa-github" aria-hidden="true"></i></a></li>
					</ul>
				</div>

				</div>
			</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>